@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #000000;
  color: #E6EBF1;
  line-height: 1.4;
  font-size: 1rem;
}

img {
  width: 100%;
  display: block;
}

a {
  cursor: pointer;
}

.section__title {
  padding-block: 2rem;
  margin-left: 7vw;
  line-height: 1.1;
  padding-block: 2rem;
  font-size: 3.5rem;
  display: inline-block;
}
.section__title .features-text {
  color: #B4FF00;
  transform: translateX(100px);
}

@media (min-width: 300px) and (max-width: 899px) {
  .section__title {
    font-size: 2.3rem;
  }
  .section__title .features-text {
    color: #B4FF00;
    transform: translateX(80px);
  }
}
@media (min-width: 300px) and (max-width: 899px) {
  body {
    font-size: 0.88rem;
  }
}
h1, h2, h3 {
  font-family: "Lato", sans-serif;
}

span, p, a {
  font-family: "Roboto Mono", monospace;
}

.btn {
  width: 140px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  transition: background-color 0.3s ease;
  z-index: 2;
}

.primary {
  background-color: #B4FF00;
  color: #000000;
  border: 1px solid transparent;
}
.primary:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.secondary {
  background-color: transparent;
  border: 1px solid #E6EBF1;
}
.secondary:hover {
  background-color: #B4FF00;
  color: #000000;
}

header {
  height: 100vh;
  max-width: 100%;
  background-image: url(/public/pexels-nardo-1870916-3574678\ -\ copia.jpg);
  background-position: 45%;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (min-width: 300px) and (max-width: 899px) {
  header {
    background-position: center;
    background-size: cover;
  }
}
.navbar {
  height: 10vh;
  padding-inline: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  font-size: 1.5rem;
  font-weight: 400;
  z-index: 4;
}
.navbar .logo span {
  color: #B4FF00;
}
.navbar .nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  z-index: 3;
}
.navbar .nav__list .nav__item a {
  color: #FFFFFF;
  transition: 0.2s ease;
}
.navbar .nav__list .nav__item a:hover {
  color: #B4FF00;
}
.navbar #btn-nav {
  display: none;
}
.navbar .nav__buttons {
  display: none;
  z-index: 3;
}

@media (min-width: 300px) and (max-width: 899px) {
  .navbar .nav__list {
    position: fixed;
    right: 200%;
    top: 0;
    height: 100vh;
    width: 100vw;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 8rem;
    flex-direction: column;
    background-color: black;
    gap: 3.5rem;
    padding-right: 1.5rem;
    transition: 0.4s ease;
  }
  .navbar .nav__list .nav__item a {
    font-size: 2.5rem;
  }
  .navbar #btn-nav {
    display: inline-flex;
  }
  .navbar #btn-desktop {
    display: none;
  }
  .navbar .show-menu {
    right: 0;
  }
  .navbar .nav__buttons {
    display: inline-flex;
    transition: 0.3s ease;
  }
  .navbar .nav__buttons .close__btn {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .navbar .nav__list .nav__item a {
    font-size: 3.2rem;
    letter-spacing: 2px;
  }
  .navbar .nav__list #btn-nav {
    width: 35%;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  height: 85%;
}
.hero .hero__title {
  text-align: center;
  margin-top: 26rem;
  font-size: clamp(1.3rem, 2.7vw, 3.8rem);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-inline: 1vw;
}
.hero .hero__title span {
  color: #B4FF00;
  font-family: "Lato", sans-serif;
}
.hero .hero__subtitle {
  padding-inline: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}
.hero .hero__subtitle p {
  display: inline-flex;
  width: 300px;
}

@media (max-width: 599px) {
  .hero .hero__title {
    margin-top: 6rem;
    letter-spacing: 0;
    margin-bottom: 2rem;
  }
  .hero .hero__subtitle {
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  }
}
.product {
  height: auto;
  margin-top: 2rem;
}
.product .product__flex {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(152, 152, 152, 0.516);
  border-top: 1px solid rgba(152, 152, 152, 0.516);
}
.product .product__flex .product__grid {
  display: grid;
  border-left: 1px solid rgba(152, 152, 152, 0.516);
}
.product .product__flex .product__grid .product__box {
  padding: 3rem 1rem 3rem 4rem;
  border-top: 1px solid rgba(152, 152, 152, 0.516);
  display: flex;
  flex-direction: column;
  direction: ltr;
}
.product .product__flex .product__grid .product__box p {
  margin-top: 1.5rem;
}
.product .product__flex .product__grid .product__box:nth-child(1) {
  border: none;
}
.product .product__flex:nth-child(3) {
  direction: rtl;
  border-top: none;
}
.product .product__flex:nth-child(3) .product__grid {
  border-right: 1px solid rgba(152, 152, 152, 0.516);
  border-left: none;
}

@media (min-width: 300px) and (max-width: 899px) {
  .product .product__flex {
    grid-template-columns: 1fr;
    border: none;
  }
  .product .product__flex .product__grid {
    border-top: none;
  }
  .product .product__flex .product__grid .product__box {
    border: none;
    padding-left: 1.5rem;
  }
  .product .product__flex:nth-child(3) {
    direction: ltr;
  }
}
.about {
  height: auto;
  margin-top: 4rem;
  margin-inline: 5vw;
}
.about .section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about__description {
  margin-bottom: 15rem;
  margin-top: 6rem;
  text-align: center;
  display: flex;
  gap: 8rem;
  line-height: 1.6;
  align-items: center;
}
.about .about__description .col span {
  display: flex;
  justify-content: center;
  color: #B4FF00;
  font-size: 1.3rem;
  font-weight: 700;
  margin-block: 0.5rem;
}
.about .about__grid {
  display: grid;
  margin-inline: 10vw;
  grid-template-columns: 1fr 1fr 1fr;
  margin-block: 10rem;
  border-radius: 30px;
  gap: 3rem;
}
.about .about__grid .about__box {
  border-radius: 50px;
  display: flex;
  -webkit-box-shadow: 0px 15px 22px -15px rgb(180, 255, 0);
  -moz-box-shadow: 0px 15px 22px -15px rgb(180, 255, 0);
  box-shadow: 0px 15px 22px -15px rgb(180, 255, 0);
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.about .about__grid .about__box .box__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
.about .about__grid .about__box .box__title span {
  font-size: 2rem;
}
.about .about__grid .about__box p {
  text-align: center;
}

@media (max-width: 599px) {
  .about .about__description {
    flex-direction: column;
    margin-bottom: 10rem;
    gap: 3rem;
    margin-inline: 5vw;
  }
  .about .about__grid {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
.gallery {
  height: auto;
  margin-inline: 5vw;
  position: relative;
  padding-block: 6rem;
}
.gallery .gallery__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Seis columnas en total */
  grid-auto-rows: 200px; /* Altura base de las filas */
  gap: 2rem; /* Espacio entre las imágenes */
}
.gallery .box-img {
  position: relative;
  overflow: hidden;
}
.gallery .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.gallery .social {
  position: absolute;
  top: 50%;
  right: 42%;
}
.gallery .social a {
  text-decoration: underline;
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
}
.gallery .box-img:hover img {
  transform: scale(1.1);
}
.gallery .box-img:nth-child(1) {
  grid-column: span 2;
  grid-row: span 3;
  transform: translateY(-30px);
}
.gallery .box-img:nth-child(2) {
  grid-column: span 4;
  grid-row: span 2;
}
.gallery .box-img:nth-child(3) {
  grid-column: 5/7;
  grid-row: span 1;
  transform: translateX(-20px);
}
.gallery .box-img:nth-child(4) {
  grid-column: span 4;
  grid-row: span 2;
  transform: translateX(-30px);
}
.gallery .box-img:nth-child(5) {
  grid-column: span 2;
  grid-row: span 2;
  transform: translateX(-20px);
}
.gallery .social-small-mobile {
  display: none;
}

@media (min-width: 900px) and (max-width: 1439px) {
  .gallery {
    margin-inline: 1vw;
  }
  .gallery .social {
    right: 34%;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .gallery {
    margin-inline: 3vw;
  }
  .gallery .gallery__grid {
    grid-auto-rows: 150px;
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery .social {
    right: 20%;
    top: 45%;
  }
  .gallery .social a {
    flex-direction: column;
    max-width: 60%;
    align-items: center;
  }
  .gallery .box-img:nth-child(1) {
    transform: translateY(0px);
  }
  .gallery .box-img:nth-child(2) {
    transform: translateY(-10px);
  }
  .gallery .box-img:nth-child(3) {
    grid-column: 5/7;
    grid-row: span 1;
    transform: translateX(0px);
  }
  .gallery .box-img:nth-child(4) {
    transform: translateX(-5px);
  }
}
@media (max-width: 599px) {
  .gallery {
    margin-inline: 2vw;
  }
  .gallery .gallery__grid {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery .social {
    position: absolute;
    top: 53%;
    right: 8.5%;
    max-width: 20%;
  }
  .gallery .social a {
    font-size: 1.1rem;
    gap: 0.5rem;
    flex-direction: column;
  }
  .gallery .box-img:nth-child(1) {
    grid-column: span 4;
    grid-row: 2/3;
    transform: translateY(0px);
  }
  .gallery .box-img:nth-child(2) {
    grid-column: span 6;
    grid-row: span 1;
  }
  .gallery .box-img:nth-child(3) {
    grid-column: 6/7;
    grid-row: span 1;
    transform: translateX(-10px);
  }
  .gallery .box-img:nth-child(4) {
    grid-column: span 4;
    grid-row: span 2;
    transform: translateX(0px);
  }
  .gallery .box-img:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
    transform: translateY(180px);
  }
}
@media (max-width: 399px) {
  .gallery {
    margin-inline: 1vw;
  }
  .gallery .social {
    display: none;
  }
  .gallery .gallery__grid {
    grid-template-columns: 1fr;
    gap: 0.6rem;
  }
  .gallery .box-img:nth-child(1) {
    grid-column: span 6;
    grid-row: span 1;
    transform: translateY(-10px);
  }
  .gallery .box-img:nth-child(2) {
    grid-column: span 4;
    grid-row: span 1;
  }
  .gallery .box-img:nth-child(4) {
    grid-column: span 6;
    grid-row: span 1;
  }
  .gallery .box-img:nth-child(5) {
    grid-column: span 6;
    grid-row: span 1;
    transform: translateX(0px);
  }
  .gallery .social-small-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.05rem;
  }
}

/*# sourceMappingURL=style.css.map */
