@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #000000;
  color: #E6EBF1;
  line-height: 1.4;
  font-size: 1rem;
}

img {
  width: 100%;
  display: block;
}

a {
  cursor: pointer;
  position: relative;
}

.nav__links a::before {
  content: "";
  position: absolute;
  width: 100%;
  border-radius: 4px;
  left: 0;
  bottom: 5%;
  transform-origin: right;
  transform: scaleX(0);
  background-color: #B4FF00;
  height: 1px;
  transition: transform 0.3s ease-in-out;
}
.nav__links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.logo {
  font-size: 2.1rem;
  font-weight: 400;
  z-index: 4;
  cursor: pointer;
}
.logo span {
  color: #B4FF00;
}

.section__title {
  padding-block: 2rem;
  margin-left: 7vw;
  line-height: 1.1;
  padding-block: 2rem;
  font-size: 3.5rem;
  display: inline-block;
}
.section__title .features-text {
  color: #B4FF00;
  transform: translateX(100px);
}

@media (min-width: 300px) and (max-width: 899px) {
  .section__title {
    font-size: 2.3rem;
  }
  .section__title .features-text {
    color: #B4FF00;
    transform: translateX(80px);
  }
}
@media (min-width: 300px) and (max-width: 899px) {
  body {
    font-size: 0.88rem;
  }
}
h1, h2, h3 {
  font-family: "Lato", sans-serif;
}

span, p, a {
  font-family: "Space Mono", monospace;
}

.btn {
  width: 140px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  transition: background-color 0.3s ease;
  z-index: 2;
}

.primary {
  background-color: #B4FF00;
  color: #000000;
  border: 1px solid transparent;
}
.primary:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.secondary {
  background-color: transparent;
  border: 1px solid #E6EBF1;
}
.secondary:hover {
  background-color: #B4FF00;
  color: #000000;
}

.mobile {
  transform: translateX(-1300px);
  width: 40%;
  font-size: 1rem;
}

@media (max-width: 599px) {
  .mobile {
    transform: translateX(0);
  }
  .desktop {
    display: none;
  }
}
header {
  height: 100vh;
  max-width: 100%;
  background-image: url(../public/pexels-nardo-1870916-3574678\ -\ copia.jpg);
  background-position: 45%;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (min-width: 300px) and (max-width: 899px) {
  header {
    background-position: center;
    background-size: cover;
  }
}
.navbar {
  height: 10vh;
  padding-inline: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  z-index: 3;
}
.navbar .nav__list a {
  font-size: 1.1rem;
  color: #FFFFFF;
  position: relative;
}
.navbar #btn-nav {
  display: none;
}
.navbar .nav__buttons {
  display: none;
  z-index: 3;
}

@media (min-width: 300px) and (max-width: 899px) {
  .navbar .nav__list {
    position: fixed;
    right: 200%;
    top: 0;
    height: 100vh;
    width: 100vw;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 8rem;
    flex-direction: column;
    background-color: black;
    gap: 3.5rem;
    padding-right: 1.5rem;
    transition: 0.4s ease;
  }
  .navbar .nav__list .nav__links a {
    font-size: 2.5rem;
  }
  .navbar #btn-nav {
    display: inline-flex;
    color: #000000;
  }
  .navbar #btn-desktop {
    display: none;
  }
  .navbar .show-menu {
    right: 0;
  }
  .navbar .nav__buttons {
    display: inline-flex;
    transition: 0.3s ease;
  }
  .navbar .nav__buttons .close__btn {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .navbar .nav__list .nav__item a {
    font-size: 3.2rem;
    letter-spacing: 2px;
  }
  .navbar .nav__list #btn-nav {
    width: 35%;
  }
}
.footer {
  padding-top: 13rem;
  height: auto;
  background-color: #202020;
  display: flex;
  flex-direction: column;
}
.footer .logo {
  display: flex;
  justify-content: flex-end;
  width: 91%;
}
.footer .footer__grid {
  display: grid;
  margin-inline: 8vw;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-bottom: 1rem;
}
.footer .footer__grid ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.footer .footer__grid ul li a {
  margin-block: 2.5rem;
  color: #FFFFFF;
  font-size: 2rem;
}
.footer .footer__grid .footer__social {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
.footer .footer__grid .footer__social a:hover svg {
  fill: #B4FF00;
}
.footer .footer__grid .footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  gap: 4rem;
}
.footer .footer__grid .footer__info .privacy {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.4rem;
}
.footer .footer__grid .footer__info .privacy a:hover {
  text-decoration: underline;
}
.footer .footer__copyright {
  display: flex;
  justify-content: space-between;
  margin-inline: 8vw;
  padding-block: 1rem;
  justify-content: space-between;
}
.footer .footer__copyright p, .footer .footer__copyright span {
  align-items: flex-end;
  display: flex;
}
.footer .arrow__home {
  border: 1px solid #B4FF00;
  border-radius: 50%;
  display: inline-flex;
  margin: 0 auto;
  cursor: pointer;
  padding: 1rem;
  align-items: center;
  transition: 0.3s ease;
}
.footer .arrow__home svg {
  fill: #B4FF00;
  display: flex;
}
.footer .arrow__home:hover {
  background-color: #B4FF00;
}
.footer .arrow__home:hover:hover svg {
  fill: #000000;
}

@media (min-width: 600px) and (max-width: 899px) {
  .footer {
    padding-top: 11rem;
  }
  .footer .logo {
    width: 95%;
  }
  .footer .footer__grid {
    margin-inline: 3vw;
  }
  .footer .footer__grid ul li a {
    font-size: 1.7rem;
  }
  .footer .footer__grid .footer__info .privacy {
    font-size: 1.2rem;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 11rem;
  }
  .footer .logo {
    justify-content: center;
    width: 100%;
  }
  .footer .footer__grid {
    grid-template-columns: 1fr;
    margin-inline: 7vw;
    margin-top: 3rem;
  }
  .footer .footer__grid ul li a {
    font-size: 2.3rem;
  }
  .footer .footer__grid .footer__social {
    margin-block: 3.5rem;
    gap: 3rem;
  }
  .footer .footer__grid .footer__info {
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .footer .footer__copyright {
    margin-inline: 1vw;
    margin-top: 3rem;
  }
  .footer .footer__copyright .arrow__home {
    transform: translateY(-90px);
  }
}
.hero {
  display: flex;
  flex-direction: column;
  height: 85%;
}
.hero .hero__title {
  text-align: center;
  margin-top: 26rem;
  font-size: clamp(1.3rem, 2.7vw, 3.8rem);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-inline: 1vw;
}
.hero .hero__title span {
  color: #B4FF00;
  font-family: "Lato", sans-serif;
}
.hero .hero__subtitle {
  padding-inline: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}
.hero .hero__subtitle p {
  display: inline-flex;
  width: 300px;
}

@media (max-width: 599px) {
  .hero {
    height: 100vh;
  }
  .hero .hero__subtitle {
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .hero .hero__subtitle a {
    margin-bottom: 10rem;
  }
}
.product {
  height: auto;
  margin-top: 2rem;
}
.product .product__flex {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(152, 152, 152, 0.516);
  border-top: 1px solid rgba(152, 152, 152, 0.516);
}
.product .product__flex .product__grid {
  display: grid;
  border-left: 1px solid rgba(152, 152, 152, 0.516);
}
.product .product__flex .product__grid .product__box {
  padding: 3rem 1rem 3rem 4rem;
  border-top: 1px solid rgba(152, 152, 152, 0.516);
  display: flex;
  flex-direction: column;
  direction: ltr;
}
.product .product__flex .product__grid .product__box p {
  margin-top: 1.5rem;
}
.product .product__flex .product__grid .product__box:nth-child(1) {
  border: none;
}
.product .product__flex:nth-child(3) {
  direction: rtl;
  border-top: none;
}
.product .product__flex:nth-child(3) .product__grid {
  border-right: 1px solid rgba(152, 152, 152, 0.516);
  border-left: none;
}

@media (min-width: 300px) and (max-width: 899px) {
  .product .product__flex {
    grid-template-columns: 1fr;
    border: none;
  }
  .product .product__flex .product__grid {
    border-top: none;
  }
  .product .product__flex .product__grid .product__box {
    border: none;
    padding-left: 1.5rem;
  }
  .product .product__flex:nth-child(3) {
    direction: ltr;
  }
}
.about {
  height: auto;
  margin-top: 4rem;
  margin-inline: 5vw;
}
.about .section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about__description {
  text-align: center;
  gap: 7rem;
  margin: 5rem auto;
  line-height: 1.6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about .about__description .col {
  padding: 0 2rem;
}
.about .about__description .col span {
  display: flex;
  justify-content: center;
  color: #B4FF00;
  font-size: 1.3rem;
  font-weight: 700;
  margin-block: 0.5rem;
}
.about .about__grid {
  display: grid;
  margin-inline: 10vw;
  grid-template-columns: 1fr 1fr 1fr;
  margin-block: 9rem;
  border-radius: 30px;
  gap: 3rem;
}
.about .about__grid .about__box {
  border-radius: 50px;
  display: flex;
  -webkit-box-shadow: 0px 15px 22px -15px rgb(180, 255, 0);
  -moz-box-shadow: 0px 15px 22px -15px rgb(180, 255, 0);
  box-shadow: 0px 15px 22px -15px rgb(180, 255, 0);
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.about .about__grid .about__box .box__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.about .about__grid .about__box .box__title span {
  font-size: 2rem;
}
.about .about__grid .about__box p {
  text-align: center;
}

@media (max-width: 599px) {
  .about .about__description {
    grid-template-columns: 1fr;
    gap: 4rem;
    margin: 2rem auto;
  }
  .about .about__grid {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}
.gallery {
  height: auto;
  margin-inline: 5vw;
  position: relative;
  padding-block: 6rem;
}
.gallery .gallery__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Seis columnas en total */
  grid-auto-rows: 200px; /* Altura base de las filas */
  gap: 2rem; /* Espacio entre las imágenes */
}
.gallery .box-img {
  position: relative;
  overflow: hidden;
}
.gallery .box-img span {
  cursor: pointer;
  position: absolute;
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
}
.gallery .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.gallery .social {
  position: absolute;
  top: 50%;
  right: 42%;
}
.gallery .social a {
  text-decoration: underline;
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
}
.gallery .box-img:hover img {
  transform: scale(1.1);
  opacity: 0.6;
}
.gallery .box-img:hover span {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.gallery .box-img:nth-child(1) {
  grid-column: span 2;
  grid-row: span 3;
  transform: translateY(-30px);
}
.gallery .box-img:nth-child(2) {
  grid-column: span 4;
  grid-row: span 2;
}
.gallery .box-img:nth-child(3) {
  grid-column: 5/7;
  grid-row: span 1;
  transform: translateX(-20px);
}
.gallery .box-img:nth-child(4) {
  grid-column: span 4;
  grid-row: span 2;
  transform: translateX(-30px);
}
.gallery .box-img:nth-child(5) {
  grid-column: span 2;
  grid-row: span 2;
  transform: translateX(-20px);
}
.gallery .social-small-mobile {
  display: none;
}

@media (min-width: 900px) and (max-width: 1439px) {
  .gallery {
    margin-inline: 1vw;
  }
  .gallery .social {
    right: 34%;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .gallery {
    margin-inline: 3vw;
  }
  .gallery .gallery__grid {
    grid-auto-rows: 150px;
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery .social {
    right: 20%;
    top: 45%;
  }
  .gallery .social a {
    flex-direction: column;
    max-width: 60%;
    align-items: center;
  }
  .gallery .box-img:nth-child(1) {
    transform: translateY(0px);
  }
  .gallery .box-img:nth-child(2) {
    transform: translateY(-10px);
  }
  .gallery .box-img:nth-child(3) {
    grid-column: 5/7;
    grid-row: span 1;
    transform: translateX(0px);
  }
  .gallery .box-img:nth-child(4) {
    transform: translateX(-5px);
  }
}
@media (max-width: 599px) {
  .gallery {
    margin-inline: 2vw;
  }
  .gallery .gallery__grid {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery .social {
    position: absolute;
    top: 53%;
    right: 8.5%;
    max-width: 20%;
  }
  .gallery .social a {
    font-size: 1.2em;
    gap: 0.5rem;
    margin-left: 0.5rem;
    flex-direction: column;
  }
  .gallery .box-img span {
    font-size: 0.9rem;
  }
  .gallery .box-img:nth-child(1) {
    grid-column: span 4;
    grid-row: 2/3;
    transform: translateY(0px);
  }
  .gallery .box-img:nth-child(2) {
    grid-column: span 6;
    grid-row: span 1;
  }
  .gallery .box-img:nth-child(3) {
    grid-column: 6/7;
    grid-row: span 1;
    transform: translateX(-10px);
  }
  .gallery .box-img:nth-child(4) {
    grid-column: span 4;
    grid-row: span 2;
    transform: translateX(0px);
  }
  .gallery .box-img:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
    transform: translateY(180px);
  }
}
@media (max-width: 399px) {
  .gallery {
    margin-inline: 2vw;
    padding-bottom: 3rem;
  }
  .gallery .social {
    display: none;
  }
  .gallery .box-img:nth-child(1) {
    grid-column: span 6;
    grid-row: span 1;
    transform: translateY(-10px);
  }
  .gallery .box-img:nth-child(2) {
    grid-column: span 4;
    grid-row: span 1;
  }
  .gallery .box-img:nth-child(4) {
    grid-column: span 6;
    grid-row: span 1;
  }
  .gallery .box-img:nth-child(5) {
    grid-column: span 6;
    grid-row: span 1;
    transform: translateX(0px);
  }
  .gallery .social-small-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.3rem;
    text-align: center;
  }
}
.discount {
  height: auto;
  margin-top: 2vh;
}
.discount .discount__box {
  transform: translateY(120px);
  background-color: #B4FF00;
  width: min(87%, 1100px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 8px;
  justify-content: center;
  padding-bottom: 2rem;
  gap: 1rem;
  text-align: center;
}
.discount .discount__box h3 {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 800;
}
.discount .discount__box p {
  color: #000000;
  margin-inline: 15vw;
}
.discount .discount__box form {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.discount .discount__box form input {
  padding: 0.55rem;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 500px;
  background: transparent;
  outline: none;
}
.discount .discount__box form input::placeholder {
  font-family: "Space Mono", monospace;
  color: #000000;
}
.discount .discount__box form button {
  background-color: #000000;
  font-family: "Space Mono", monospace;
  min-width: 25%;
  border: 1px solid black;
  transition: 0.3s ease;
}
.discount .discount__box form button:hover {
  color: #000000;
  background-color: transparent;
}

@media (min-width: 300px) and (max-width: 899px) {
  .discount {
    margin-inline: 8vw;
  }
  .discount .discount__box p {
    margin-inline: 0vw;
  }
  .discount .discount__box form {
    flex-direction: column;
    margin-top: 1rem;
    gap: 1.3rem;
  }
  .discount .discount__box form input {
    width: 280px;
  }
  .discount .discount__box button {
    width: 60%;
    font-size: 0.95rem;
  }
}
@media (max-width: 399px) {
  .discount {
    margin-inline: 4vw;
    margin-top: 0;
  }
  .discount .discount__box {
    width: 79%;
  }
  .discount .discount__box form input {
    width: 250px;
  }
}
.sponsors {
  margin-bottom: 10rem;
  margin-inline: 6vw;
}
.sponsors h3 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3rem;
}
.sponsors .sponsors__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsors .sponsors__grid .sponsor__item {
  display: flex;
  justify-content: center;
}
.sponsors .sponsors__grid .sponsor__item img {
  width: 100px;
}

@media (min-width: 600px) and (max-width: 899px) {
  .sponsors .sponsors__grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
  }
}
@media (max-width: 599px) {
  .sponsors {
    margin-bottom: 6rem;
  }
  .sponsors .sponsors__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
  }
  .sponsors .sponsors__grid .sponsor__item img {
    width: 80px;
  }
}
.uses {
  margin-block: 12rem;
  height: auto;
}
.uses .uses__grid {
  display: flex;
  justify-content: space-between;
  margin-inline: 10vw;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 5rem;
}
.uses .uses__grid .uses__card {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 530px;
  border-radius: 20px;
  background-color: #202020;
  -webkit-box-shadow: 13px 13px 0px 0px rgb(180, 255, 0);
  -moz-box-shadow: 13px 13px 0px 0px rgb(180, 255, 0);
  box-shadow: 13px 13px 0px 0px rgb(180, 255, 0);
  transition: 0.4s ease;
}
.uses .uses__grid .uses__card:hover {
  transform: translateY(-50px);
}
.uses .uses__grid .uses__card .uses__img {
  padding: 1rem;
  height: 50%;
}
.uses .uses__grid .uses__card .uses__img img {
  opacity: 0.8;
  border-radius: 20px;
  object-fit: cover;
  height: 100%;
}
.uses .uses__grid .uses__card .uses__description {
  padding: 0.3rem 1.5rem;
}
.uses .uses__grid .uses__card .uses__description h3 {
  margin-bottom: 1rem;
  font-size: 1.23rem;
  font-weight: 800;
  text-transform: uppercase;
}
.uses .uses__grid .uses__card .uses__description p {
  font-size: 0.82rem;
  line-height: 1.5;
}

@media (min-width: 600px) and (max-width: 899px) {
  .uses {
    margin-block: 9rem;
  }
  .uses .uses__grid {
    justify-content: center;
  }
}
@media (max-width: 599px) {
  .uses {
    margin-block: 7rem;
    margin-inline: 1vw;
    gap: 0;
  }
  .uses .uses__grid {
    row-gap: 4.5rem;
  }
  .uses .uses__grid .uses__card {
    height: 770px;
  }
}

/*# sourceMappingURL=style.css.map */
