.about{
   height: auto;
   margin-top: 4rem;
   margin-inline: 5vw;
    .section__title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
   .about__description{
    text-align: center;
    gap: 7rem;
    margin: 8rem auto;
    line-height: 1.6;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .col{
        padding: 0 2rem;
        span{
            display: flex;
            justify-content: center;
            color: $color-primary;
            font-size: 1.3rem;
            font-weight: $fw-bold;
            margin-block: .5rem;
        }
        
    }
}


    .about__grid{
        display: grid;
        margin-inline: 10vw;
        grid-template-columns: 1fr 1fr 1fr;
        margin-block:9rem;
        border-radius: 30px;
        gap: 4rem;


        .about__box{
            border-radius: 50px;
            display: flex;
            -webkit-box-shadow: 0px 15px 22px -15px rgba(180,255,0,1);
             -moz-box-shadow: 0px 15px 22px -15px rgba(180,255,0,1);
            box-shadow: 0px 15px 22px -15px rgba(180,255,0,1);
            flex-direction: column;
            align-items: center;
            padding-bottom: 2rem;
            
            .box__title{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                width: 100%;
                span{
                    font-size: 2rem;
                }
            }
            p{
                text-align: center;
            }
            
        }
    }
}


@include for-tablet{
    .about{
        .about__grid{
            margin-inline: 1vw;
        }
    }
}



@include for-small-desktop{
    .about{
        .about__grid{
        margin-inline: 2vw;

        .about__box{
            padding-bottom: 1.4rem;
        }
        }
    }
}


@include for-mobile{
    .about{
        .about__description{
            margin: 2rem auto;
            grid-template-columns: 1fr;
            gap: 4rem;

        }

        .about__grid{
            grid-template-columns: 1fr;
            gap: 5rem;
        }
    }
}