.discount{
    padding-bottom: 6rem;
    height: auto;
    margin-top:6rem;

    
    .discount__box{
        background-color: $color-primary;
        width: min(87%, 1100px);
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        border-radius: 8px;
        justify-content: center;
        padding-bottom: 2rem;
        gap: 1rem;
        text-align: center;
        h3{
            color: $color-black;
            font-size: 1.8rem;
            font-weight: 800;
        }
        p{
            color: $color-black;
            margin-inline: 15vw;
        }

        form{
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            width: 100%;
            input{
                padding: .550rem ;
                border: 1px solid $color-black;
                border-radius: 5px;
                width: 500px;
                background: transparent;
                outline: none;
                

                &::placeholder{
                    font-family: $ff-secondary;
                    color: $color-black;
                }
            }
            button{
                background-color: $color-black;
                font-family: $ff-secondary;
                min-width: 25%;
                border: 1px solid black;
                transition: .3s ease;


                &:hover{
                    color: $color-black;
                    background-color: transparent;
                }
            }
        }
    }
}


@include for-mobile-and-tablet{
    .discount{
        margin-inline: 8vw;
        .discount__box{

                p{
                    margin-inline: 0vw;
                }

            form{
                flex-direction: column;
                margin-top: 1rem;
                gap: 1.3rem;


                input{
                    width: 280px;
                }
            }
            button{
                width: 60%;
                font-size:.950rem;
            }
        }
    }
}

@include for-small-mobile{
    .discount{
        margin-inline: 4vw;

        .discount__box{
            width: 79%;


            form{
                input{
                    width: 250px;
                }
            }
        }
    }
}