.product{
    height: auto;
    padding-top: 2rem;
    position: relative;
    padding-bottom: 8rem;

    background-color: $color-bg-product;
    .product__flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: $border-product;
        border-top:$border-product;

        
        .product__grid{
            display: grid;
            border-left: $border-product;
           
            .product__box{
                padding: 3rem 1rem 3rem 4rem;
                border-top:$border-product;
                display: flex;
                flex-direction: column;
                direction: ltr;
                
                h3{
                    font-weight: $fw-bold;
                    margin-block: 1rem;
                    font-size: 1.5rem;
                }
               
                &:nth-child(1){
                    border: none;
                }
                
            }
        }

       &:nth-child(3){
        direction: rtl; 
        border-top: none;
        .product__grid{
            border-right: $border-product;
            border-left: none;
        }
        }   
    }
}

   





@include for-small-desktop{
    .product{
        .product__flex{
            img{
                object-fit: cover;
                height: 90%;
            }
        }
    }
}






@include for-mobile-and-tablet{
    .product{
        .product__flex{
            grid-template-columns: 1fr;
            border: none;

            img{
                margin-bottom: 1.5rem;
            }

            .product__grid{
                border-top: none;
                border-left: none;

                .product__box{
                    border: none;
                    padding-left: 1.5rem;

                    h3{
                        font-size: 1.350rem;
                    }
                }
            }


            &:nth-child(3){
                direction: ltr; 
                }
        }
    }
}