header{
    height: 100vh;
    max-width: 100%;
    background-image: url(./public/pexels-nardo-1870916-3574678\ -\ copia.jpg);
    background-position: 45%;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


@include for-mobile-and-tablet{
    header{
        background-position: center;
        background-size: cover;

    }
}