header{
    height: 100vh;
    max-width: 100%;
    background-image: url(../public/imagenes/hero/hero-img.webp);
    background-position: 45%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: $color-bg-product;

}


@include for-mobile-and-tablet{
    header{
        background-position: center;
        background-size: cover;
    }
}