*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}



body{
    background-color: $color-black;
    color: $color-white-light;
    line-height: 1.4;
    font-size: 1.040rem;
}

img{
    width: 100%;
    display: block;
    height: auto;
 }

 ::selection {
    background-color: $color-primary; /* Cambia a tu color preferido */
    color: $color-black; /* Cambia el color del texto si lo deseas */
  }

 a{
    cursor: pointer;
    position: relative;
}
   .nav__links a{
       &::before{
           content: "";
           position: absolute;
           width: 100%;
           border-radius: 4px;
           left: 0;
           bottom: 5%;
           transform-origin: right;
           transform: scaleX(0);
           background-color: $color-primary;
           height: 1px;
           transition: transform 0.3s ease-in-out; 
           
        }
        &:hover::before{
            transform-origin: left;
            transform: scaleX(1);
        }
        
    }
 
    .img-logo{
        width: 120px;
    }

.section__title{
    font-size: 3rem;
    margin-block: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.color-primary{
    font-family: $ff-primary;
    color: $color-primary;
}




@include for-mobile-and-tablet{
    .section__title{
        font-size: 2rem;
        line-height: 1.3;
        
    }
}


@include for-mobile-and-tablet{
    body{
        font-size: .9rem;
    }
}


// divider of product section and uses section

.custom-shape-divider-top-1728611530 {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(360deg);
}

.custom-shape-divider-top-1728611530 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
}

.custom-shape-divider-top-1728611530 .shape-fill {
    fill: $color-black;
}

